#about-page--padding {
  padding-bottom: 3rem;
}

#about-page--title {
  margin-bottom: 3rem;
  text-align: center;
}

#about-page--figure {
  margin-bottom: 3rem;
  text-align: center;

  img {
    border-radius: $global-radius;
    margin-bottom: 1.5rem;
    text-align: center;

    @include breakpoint(medium down) {
      display: inline-block;
      max-width: 250px;
    }

    @include breakpoint(large up) {
      display: block;
      width: 100%;
    }
  }
}

#about-page--figure-title {
  margin-bottom: 1rem;
}

#about-page--figure-blurb {
  display: inline-block;
  margin-bottom: 1.5rem;
  max-width: 250px;
  text-align: center;
}

.about-page--sidebar-title {
  margin-bottom: 1rem;
}

.about-page--sidebar-blurb {
  margin-bottom: 1.5rem;
}

.about-page--sidebar {
  margin-bottom: 3rem;
}
