form {
  margin-bottom: 2rem;

  @include input-css() { margin-bottom: 0.5rem; }
}

form label[title].required:after {
  color: $alert-color;
  content: '\002a';
  cursor: pointer;
  padding-left: 0.25rem;
}

#form--title {
  margin-bottom: 3rem;
  text-align: center;
}

.form--field {
  margin-bottom: 2.5rem;
  padding-top: 0.5rem;
}

.form--help-text {
  margin-bottom: 0.5rem;
}

.form--actions {
  text-align: right;
}

.form--actions.alt {
  text-align: left;
}

.hidden-file-field-container {
  @include make-invisible() { margin-bottom: 0; }
  * { display: none; }

  .file-field-trigger:checked ~ & {
    @include make-visible() { padding-top: 0.25rem; }
    * { display: initial; }
    [type="file"] { margin-bottom: 0.5rem; }
  }
}

.hidden-by-checked-checkbox {
  @include make-visible() { display: initial; }

  .file-field-trigger:checked ~ & {
    @include make-invisible() { display: none; }
  }
}

.hidden-by-unchecked-checkbox {
  @include make-invisible() { display: none; }

  .file-field-trigger:checked ~ & {
    @include make-visible() { display: initial; }
  }
}

[type="checkbox"].file-field-trigger + label {
  margin-left: 0;
  margin-right: 0;
}

[type="file"] {
  overflow: hidden;
}

.preview {
  width: 210px;
}
