// specificity is required to override trix's own CSS
body {
  .trix-content, .trix-editor {
    h2, blockquote, ul, ol { margin-bottom: 0; }
    h2, blockquote { font-weight: $global-weight-bold; }

    a {
      font-weight: $global-weight-bold;
      @include hover { text-decoration: underline; }
    }

    ul {
      list-style: disclosure-open;
    }

    li {
      margin-bottom: 0.75rem;
      line-height: 1.5;
    }

    blockquote {
      margin: 0;
      padding: rem-calc(9 20 9 19);
      border-left: 3px solid $light-gray;
    }
  }

  trix-toolbar .trix-button { background: $white; }
}

trix-editor, .trix-editor {
  background: $white;
  max-height: 400px;
  overflow-y: auto;
}


.trix-button--icon-strike,
.trix-button--icon-italic,
.trix-button--icon-code,
.trix-button--icon-number-list,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level { display: none; }
