%p
  %strong Hello Zoe,

%p
  %strong= @message.name 
  sent you a message on 
  %strong Mindful Life Therapy

%p
  %strong Email:
  = @message.email

%p 
  %strong Subject:
  = @message.subject

= @message.body