#admin--title {
  margin-bottom: 3rem;
  text-align: center;
}

#admin--links-list {
  margin-bottom: 3rem;
}

#admin--office-address-paragraph { margin-bottom: 0; }

#admin--edit-settings-paragraph { margin-top: 2rem; }
