.hover-text-decoration { @include hover { text-decoration: underline; } }
.hover-pointer { @include hover { cursor: pointer; } }
.hover-primary-color { @include hover { color: $primary-color; } }
.black-link { @include anchor($black, $black); }
.secondary-link { @include anchor($secondary-color, $secondary-color); }
