.button {
  @include button-border($black);
  @include button-active($black);
  @include button-focus($black);
}

.button.success, .button.primary {
  color: $white;

  @include hover() { color: $white; }
}

form .button.success {
  font-weight: $global-weight-bold;
}
