.callout {
  background: $fieldset-background;
  border-radius: $global-radius;
  margin-bottom: 3rem;

  @include bottom-border(rgba($black, 0.1));
  @include breakpoint(small only) { padding: 1.5rem; }
  @include breakpoint(medium up) { padding: 3rem; }
}
