.nmb { margin-bottom: 0; }
.smb { margin-bottom: 0.5rem; }
.mmb { margin-bottom: 1rem; }
.lmb { margin-bottom: 2rem; }
.xmb { margin-bottom: 3rem; }

.npb { padding-bottom: 0; }
.spb { padding-bottom: 0.5rem; }
.mpb { padding-bottom: 1rem; }
.lpb { padding-bottom: 2rem; }
.xpb { padding-bottom: 3rem; }
