@mixin button-active() {
  &:active {
    border-color: rgba($black, 0.15);
    border-bottom-color: rgba($black, 0.2);
    outline: none;
  }
}

@mixin button-focus() {
  &:focus {
    border-color: rgba($black, 0.1);
    border-bottom-color: rgba($black, 0.15);
    outline: none;
  }
}

@mixin navbar-button($background, $background-hover, $color) {
  @include button(false, $background, $background-hover, $color, 'solid');
  @include bottom-border();
  @include breakpoint(small only) { padding: 0.5rem; }
  @include breakpoint(medium up) { padding: 0.5rem 1rem; }
}
