.column.medium-8.medium-offset-2.large-3.large-offset-0.end
  %section#contact--form-disclaimer-section
    %h1#contact--form-disclaimer-title Disclaimer

    %p#contact--form-disclaimer-blurb
      Your message will be handled with the utmost care; your personal
      details will not be stored, or harvested, and the content of your message
      will remain entirely confidential,
      as detailed in my
      = succeed '.' do
        = link_to 'privacy policy', privacy_policy_path
