## DO NOT PUT YOUR OWN SECRET ACCESS KEYS OR PASSWORDS IN THIS FILE AS IT IS NOT ENCRYPTED
## INSTEAD YOU WILL NEED TO CREATE YOUR OWN CREDENTIALS.YML.ENC FILE AND ADD THEM TO THAT

## This file is merely an example of how your credentials.yml.enc file should look
##
## You want to run something along the lines of:
##
## EDITOR='nano' bin/rails credentials:edit
##
## After that, just set your encrypted credentials file up to look like this one
##
## Furthermore you do not want to use any of these values in your projects as they are
## hackable, by virtue of the fact that they are publicly available, and also because they're easy to guess.

## The first set of keys and values are used when seeding the user table of the database
##
## The db/seeds.rb file refers to these keys and values
## You can remove these keys and values but then you will also need remove the references to them
## from the db/seeds.rb file
##
## The application uses google_sign_in gem from basecamp. Please refer to the documentation for that gem
## for more information on how it works. I'm happy to answer any questions you might have too.
users:
  stephen:
    email: stephen@example.org
    google_id: google-id-for-stephen
  zoe:
    email: zoe@example.org
    google_id: google-id-for-zoe

## These keys and values are used when seeding the settings table of the database
## Emails submitted via the contact form are set to the email address listed below
## The telephone number will appear in your site footer and various other places throughout your site
##
settings:
  telephone: 0123456789
  email: your-company-email@example.org
  domain: www.yourwebsite.com

## The AWS keys are used by active storage for uploading files to S3.
## You will need to get your own keys from Amazon and put them in your encrypted credentials file
aws:
  access_key_id: USE_YOUR_OWN_ACCESS_KEY_ID
  secret_access_key: USE_YOUR_OWN_SECRET_ACCESS_KEY

## I'm using google for geocoding the office location
## You will need your own API key which you can get from Google
##
geocoder:
  google_api_key: USE_YOUR_OWN_GOOGLE_API_KEY

## As mentioned already, the application uses google_sign_in gem from Basecamp.
## These keys and values are used by that gem.
## Please refer to the documentation for instructions on how to set up your own
## google sign client api credentials via the google cloud services console
##
google_sign_in:
  client_id: use-your-own-google-client-secret-here
  client_secret: use-your-own-google-client-secret-here

## Generate your own secret. Do not use the value listed below as it is not secure,
## anyone who knows that you've cloned this repo will be able to read this keybase
## and potentially hack your application
##
## You can generate a new secret by running:
##
## bin/rails secret
##
## This will spit out a secret, which you should copy and paste below.
##
## Once again, please DO NOT USE THE VALUE THAT IS CURRENTLY LISTED BELOW IN THIS FILE
## AS IT IS NOT SECURE AND ANYONE WHO KNOWS THAT YOU HAVE CLONED THIS REPO WILL BE ABLE TO
## HACK YOUR WEBSITE. I DON'T WANT THAT TO HAPPEN, AND NEITHER DO YOU.
## PLEASE BE SAFE.
##
secret_key_base: USE_YOUR_OWN_SECRET_KEY_BASE_HERE_ITS_VERY_IMPORTANT_TO_CHANGE_THIS_VALUE

## FINALLY DO NOT PUT YOUR SECURITY CREDENTIALS IN THIS FILE. INSTEAD SETUP AN ENCRYPTED VERSION
## OF THIS FILE AND PUT THEM IN THAT. ITS SO IMPORTANT THAT YOU FOLLOW THIS PRECAUTION.
