- provide :page_title, t('seo.title.privacy_policy.show')
- provide :meta_description, t('seo.meta_description.privacy_policy')
- provide :canonical_url, privacy_policy_url(protocol: 'https')

.row.lmb
  .column
