#colophon--figure {
  text-align: center;
  margin-bottom: 6rem;
}

#colophon--img {
  margin-bottom: 1rem;
}

#colophon--caption {
  margin-bottom: 3rem;
}

#colophon--button {
  margin-bottom: 2rem;
}
