#navbar {
  align-items: center;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-flow: column wrap;
}

#navbar--logo-link {
  &:hover { opacity: 0.5; }
}

#navbar--logo-image {
  display: block;
}

#navbar--primary-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  text-align: center;
}

.navbar--primary-nav-item {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.active {
  @include active-navbar-button($active-color, $active-color, $white);
}

.inactive {
  @include navbar-button($inactive-color, $inactive-color-hover, $heading-black);
  @include bottom-border(rgba($black, 0.1));
}

.navbar--icon {
  @include breakpoint(small only) {
    text-align: center;
    width: 1rem;
  }

  @include breakpoint(medium up) {
    display: none;
  }
}

.navbar--primary-nav-item-text {
  @include breakpoint(small only) {
    display: none;
  }

  @include breakpoint(large up) {
    font-size: 1rem;
  }
}
