- provide :page_title, 'Not Found'
- provide :no_index, true

.row
  .column.medium-8.medium-centered.lpt.lpb.text-center
    %h1.page-title Page Not Found
    %p.dark-gray
      The page you were looking for does not exist:
    %p.primary-color.word-wrap= request.original_url
    %p.dark-gray Perhaps you have typed the URL incorrectly?
