- provide :page_title, 'Not Authorised'
- provide :no_index, true

.row
  .column.medium-8.medium-centered.xpb.text-center
    %h1.mmb Not Authorised
    %p.smb
      The page you were looking for requires authorisation:
    %p.primary-color.word-wrap.smb= request.original_url
    %p.xmb Are you logged in?
