- provide :page_title, 'Not Found'
- provide :no_index, true

.row
  .column.medium-8.medium-centered.xpb.text-center
    %h1.mmb Page Not Found
    %p.smb
      The page you were looking for does not exist:
    %p.primary-color.word-wrap.smb= request.original_url
    %p.xmb Perhaps you have typed the URL incorrectly?

= render 'colophon'
