- provide :page_title, t('seo.title.terms_and_conditions.show')
- provide :meta_description, t('seo.meta_description.terms_and_conditions')
- provide :canonical_url, terms_and_conditions_url(protocol: 'https')

.row
  .column.medium-8.medium-offset-2.large-6.large-offset-3
    %h1.text-center.mmb Terms & Conditions

    %p.text-center.xmb
      %strong Last updated:
      21 October, 2018

    %p
      Please read these Terms and Conditions carefully before using
      the
      = link_to 'https://www.mindfullifetherapy.co.uk', 'https://www.mindfullifetherapy.co.uk'
      website operated by ​Mindful Life Therapy.

    %p
      Your access to, and use of the website is conditioned on your acceptance of, and compliance with
      these Terms. These terms apply to all visitors, users and others, who access or use the website.

    %p
      %strong
        By accessing or using the website you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the website.

    %h2.mmb Links To Other Web Sites

    %p
      The website may contain links to third-party web sites or services that are not owned or controlled
      by ​Mindful Life Therapy.

    %p
      ​Mindful Life Therapy​ has no control over, and assumes no responsibility for, the content,
      privacy policies, or practises of any third party web sites or services. You further acknowledge and
      agree that ​​Mindful Life Therapy​ shall not be responsible or liable, directly or indirectly, for any
      damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
      such content, goods or services available on or through any such web sites or services.

    %h2.mmb Changes

    %p
      Mindful Life Therapy reserves the right, at our sole discretion, to modify or replace these Terms at any time. If a
      revision is material we will try to provide at least 30​ days' notice prior to any new terms taking effect.
      What constitutes a material change will be determined at our sole discretion.

    %h2.mmb Contact Mindful Life Therapy

    %p.xmb
      If you have any questions about these Terms, please
      = succeed '.' do
        = link_to 'contact Mindful Life Therapy', contact_path

= render 'colophon'
