- provide :page_title, t('seo.title.terms_and_conditions.show')
- provide :meta_description, t('seo.meta_description.terms_and_conditions')
- provide :canonical_url, terms_and_conditions_url(protocol: 'https')

.row.lmb
  .column
