- provide :page_title, t('seo.title.terms_and_conditions.show')
- provide :meta_description, t('seo.meta_description.terms_and_conditions')
- provide :canonical_url, terms_and_conditions_url(protocol: 'https')

.row
  .column.medium-8.medium-offset-2.large-6.large-offset-3
    %h1.text-center.mmb Terms & Conditions
    %p.text-center.xmb Page under construction

= render 'colophon'
