.nav-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  @include breakpoint(large up) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include breakpoint(medium down) {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }  
}

.nav-bar-title { 
  flex: 1;
}

.nav-bar-logo-link {
  display: block;
}

.nav-bar-logo-img { 
  display: block;  
  max-width: 176px;
  @include hover { opacity: 0.5; }
}

label.nav-bar-burger-label {
  margin: 0 !important;

  @include breakpoint(medium down) {
    @include anchor($primary-color, $medium-gray);

    display: block !important;

    i { 
      margin-right: 0.25rem; 
      color: $dark-gray;
    }
  }

  @include breakpoint(large up) {
    display: none !important;
  }
}

#nav-bar-burger-checkbox {
  display: none;
  margin: 0;
}

#nav-bar-burger-checkbox:checked { 
  ~ ul {
    @include breakpoint(medium down) {
      padding: 1rem 0;
      /*margin-top: 1rem;*/
      opacity: 1;
      height: auto;
      visibility: visible;
    }
  }

  ~ label {
    @include breakpoint(medium down) {
      color: $medium-gray;
      i { color: $dark-gray; }
    }
  }
}


/* Main nav ul */
.nav-bar-main-menu {
  margin: 0;
  padding: 0;

  @include breakpoint(medium down) {
    padding: 0;
    height: 0;
    opacity: 0;
    transition: all 1s ease;
    visibility: hidden; 
  }
}

.nav-bar-item {
  padding: 0.5rem;
  display: inline-block;

  &:last-child { padding-right: 0; }
}


.nav-bar ul li a:not(.button) {
  @include anchor($medium-gray, $dark-gray);
}

.nav-bar ul li a.active {
  @include anchor($black, $black);
}

.button.hollow.nav-bar-button { 
  margin: 0;
  color: $body-font-color;

  @include hover {    
    border-color: $black; 
    color: $black;
  }
}
