.home-title {
  font-size: rem-calc(18);

  @include breakpoint(large up) {
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    padding-top: 2rem;
  }

  @include breakpoint(medium down) {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.home-jumbo-img {
  display: block;

  @include breakpoint(large up) {
    margin-bottom: 0;
  }

  @include breakpoint(medium down) {
    margin-bottom: 2rem;
  }
}

.inline-highlight {
  @include breakpoint(large up) {
    background: rgba($primary-color, 0.3);
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;

    &:first-child {
      padding-top: 0.5rem;
      font-weight: $global-weight-bold;
    }

    &:last-child {
      padding-bottom: 0.5rem;
    }
  }
}

.home-contact {
  @include breakpoint(large up) {
    position: absolute;
    color: $white;
    left: 0;
    bottom: 0;
    padding-bottom: 2rem;
    margin-bottom: 0;
    padding-left: 2rem;
  }

  @include icons-in-line;
}

.white-link-on-large-up {
  @include hover {
    span { border-bottom: 1px dotted; }
  }

  @include breakpoint(large up) {
    @include anchor($white, $white);

    @include hover {
      span { border-bottom-color: $white; }
    }
  }

  @include breakpoint(medium down) {
    @include anchor($body-font-color, $black);

    @include hover {
      span { border-bottom-color: $black; }
    }
  }
}

.home-zoe-img {
  width: 100px;
  box-shadow: 0 0 1px rgba($black, 0.2);
}

.home-about-links {
  i { font-size: 5rem; }
}
