.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between
}

.flex-1 { flex: 1; }

.flex-1-on-large {
  @include breakpoint(large up) { flex: 1; }
}

.flex-row-on-large { @include breakpoint(large up) { flex-flow: row wrap; } }

.flex-column-on-medium-down {
  @include breakpoint(medium down) {
    flex-flow: column wrap;
    align-items: flex-start;
  }
}

.font-1 {
  font-size: 1rem;
  line-height: 1;
}

.hover-opacity { @include hover { opacity: 0.5; } }
.hover-pointer { @include hover { cursor: pointer; } }
.hover-text-decoration { @include hover { text-decoration: underline; } }

.text-center-on-medium-down {
  @include breakpoint(medium down) { text-align: center; }
}

.text-center-on-medium-up {
  @include breakpoint(medium up) { text-align: center; }
}

.inline-block-on-large {
  @include breakpoint(large up) { display: inline-block; }
}

.inline-block-on-medium-down { @include breakpoint(medium down) { display: inline-block; } }

.block-on-medium-down { @include breakpoint(medium down) { display: block; } }

.spt-on-medium-down { @include breakpoint(medium down) { padding-top: rem-calc(8) } }

.hide-on-large {
  @include breakpoint(large up) { display: none; }
}

.inactive {
  @include anchor($medium-gray, $dark-gray);
  @include hover { text-decoration: underline; }  
}

.active {
  @include anchor($black, $black);
  text-decoration: underline;
}

.white-link {
  @include anchor($white, $white);
}

.dark-gray-link {
  @include anchor($dark-gray, $dark-gray);
}

.black-link {
  @include anchor($black, $black);
}

.secondary-link {
  @include anchor($secondary-color, $white);
}

.border-link {
  @include hover { border-bottom: 1px dotted $white; }
}

.hover-white { @include hover { color: $white; } }
.hover-primary { @include hover { color: $primary-color; } }

.nowrap { white-space: nowrap; }
.word-wrap { @include word-wrap(); }

.big-heading { font-size: 2rem; }

.white { color: $white; }
.light-gray { color: $light-gray; }
.medium-gray { color: $medium-gray; }
.dark-gray { color: $dark-gray; }

.body-font-color { color: $body-font-color; }
.black { color: $black; }

.primary-color { color: $primary-color; }
.secondary-color { color: $secondary-color; }
.success-color { color: $success-color; }
.warning-color { color: $warning-color; }
.alert-color { color: $alert-color; }

.primary-background { background: $primary-color; }
.secondary-background { background: $secondary-color; }
.success-background { background: $success-color; }
.warning-background { background: $warning-color; }
.alert-background { background: $alert-color; }

.body-background { background: $body-background; }

.white-background { background: $white; }
.light-gray-background { background: $light-gray; }
.medium-gray-background { background: $medium-gray; }
.dark-gray-background { background: $dark-gray; }
.black-background { background: $base-black; }

.absolute { position: absolute; width: 100%; top: 0; height: 100%; z-index: 9999; }
.relative { position: relative; }

.normal { font-weight: $global-weight-normal; }
.strong { font-weight: $global-weight-bold; }

.normal-transform { text-transform: none; }
.normal-style { font-style: normal; }

.rounded { border-radius: 100%; }

.form-errors { box-shadow: inset 0 0 1px rgba($black, 0.2); }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.small-block {
  @include breakpoint(small only) {
    display: block;
  }
}

.medium-block {
  @include breakpoint(medium up) {
    display: block;
  }
}

.large-block {
  @include breakpoint(large up) {
    display: block;
  }
}

.callout.clear { background: none; }

.footer { border-top: 1px solid rgba($black, 0.05) }

.callout {
  border-bottom: 1px solid rgba($black, 0.05);
}

.callout.no-radius { border-radius: 0; }

.vsmt-on-medium { @include breakpoint(medium up) { padding-top: 0.25rem; } }
.smb-on-medium-down { @include breakpoint(medium down) { margin-bottom: rem-calc(8); } }

.full-width { width: 100%; }
.border-radius { border-radius: $global-radius; }
.no-top-border-radius { border-top-left-radius: 0; border-top-right-radius: 0; }
.no-bottom-border-radius { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.light-border-top { border-top: 1px solid rgba($white, 0.7); }

.border-top { border-top: 1px solid rgba($black, 0.1); }
.border-bottom { border-bottom: 1px solid rgba($black, 0.1); }
.dotted-border-bottom { border-bottom: 1px dotted rgba($black, 0.1); }
.button-border-bottom { border-bottom: 1px solid rgba($black, 0.125); }
.button-text-shadow { text-shadow: 0 -1px 0 rgba($black, 0.15) }

.dark-outer-box-shadow { box-shadow: 0 0 1px rgba($black, 0.2); }

.larger, .body-size {
  font-size: rem-calc(20);
}

.smaller {
  font-size: rem-calc(16);
}

.button.icon {
  border-radius: 50%;
  padding: 0.5rem;

  i {
    width: 1rem;
    height: 1rem;
    line-height: 1;
    font-size: 1rem;
    margin: 0;
  }
}

.button.icon-on-medium-down {
  @include breakpoint(medium down) {
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: inset 0 -1px 0 rgba($black, 0.15);

    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

    &:hover, &:active {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    i {
      width: 16px;
      height: 16px;
      line-height: 1;
      font-size: 16px;
      margin: 0;
      display: block;
    }
  }
}

.fixed-width-icon {
  width: 1rem;
  text-align: center;
}

.table { display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell; }
