.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-1 { flex: 1; }

.flex-1-on-large {
  @include breakpoint(large up) { flex: 1; }
}

.font-1 {
  font-size: 1rem;
  line-height: 1;
}

.hover-opacity { @include hover { opacity: 0.5; } }
.hover-pointer { @include hover { cursor: pointer; } }
.hover-text-decoration { @include hover { text-decoration: underline; } }

.text-center-on-medium-down {
  @include breakpoint(medium down) { text-align: center; }
}

.text-center-on-medium-up {
  @include breakpoint(medium up) { text-align: center; }
}

.inline-block-on-large {
  @include breakpoint(large up) { display: block; }
}

.block-on-medium-down { @include breakpoint(large up) { display: inline-block; } }

.hide-on-large {
  @include breakpoint(large up) { display: none; }
}

.inactive {
  @include anchor($medium-gray, $dark-gray);
}

.active {
  @include anchor($black, $black);
}

.dark-primary-link {
  @include anchor($anchor-color-hover, $anchor-color-hover);
}

.white-link {
  @include anchor($white, $white);
}

.secondary-link {
  @include anchor($secondary-color, $white);
}

.light-gray-link {
  @include anchor($light-medium-gray, $medium-gray);
}

.medium-gray-link {
  @include anchor($medium-gray, $dark-gray);
}

.medium-gray-link.alt {
  @include anchor($medium-gray, $primary-color);
}

.border-link {
  @include hover { border-bottom: 1px dotted $white; }
}

.hover-white { @include hover { color: $white; } }
.hover-primary-color { @include hover { color: $primary-color; } }

.nowrap { white-space: nowrap; }
.word-wrap { @include word-wrap(); }

.big-heading { font-size: 2rem; }

.white { color: $white; }
.light-gray { color: $light-gray; }
.light-medium-gray { color: $light-medium-gray; }
.medium-gray { color: $medium-gray; }
.dark-medium-gray { color: $dark-medium-gray; }
.dark-gray { color: $dark-gray; }
.body-font-color { color: $body-font-color; }
.black { color: $black; }

.primary-color { color: $primary-color; }
.secondary-color { color: $secondary-color; }
.success-color { color: $success-color; }
.warning-color { color: $warning-color; }
.alert-color { color: $alert-color; }

.primary-background { background: $primary-color; }
.secondary-background { background: $secondary-color; }
.success-background { background: $success-color; }
.warning-background { background: $warning-color; }
.alert-background { background: $alert-color; }

.light-succses-background { background: #f8f7ea }

.white-background { background: $white; }
.light-gray-background { background: $light-gray; }
.light-medium-gray-background { background: $light-medium-gray; }
.medium-gray-background { background: $medium-gray; }
.dark-medium-gray-background { background: $dark-medium-gray; }
.dark-gray-background { background: $dark-gray; }
.black-background { background: $base-black; }

.absolute { position: absolute; width: 100%; top: 0; height: 100%; z-index: 9999; }
.relative { position: relative; }

.normal { font-weight: $global-weight-normal; }
.strong { font-weight: $global-weight-bold; }

.normal-transform { text-transform: none; }
.normal-style { font-style: normal; }

.rounded { border-radius: 100%; }

.form-errors { box-shadow: inset 0 0 1px rgba($black, 0.2); }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.small-block {
  @include breakpoint(small only) {
    display: block;
  }
}

.medium-block {
  @include breakpoint(medium up) {
    display: block;
  }
}

.large-block {
  @include breakpoint(large up) {
    display: block;
  }
}

.callout.clear { background: none; }
.vsmt-on-medium { @include breakpoint(medium up) { padding-top: 0.25rem; } }
.full-width { width: 100%; }
.border-radius { border-radius: $global-radius; }
.no-top-border-radius { border-top-left-radius: 0; border-top-right-radius: 0; }
.no-bottom-border-radius { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.light-border-top { border-top: 1px solid $white; }
.light-border-bottom { border-bottom: 1px solid $white; }
.dark-border-top { border-top: 1px solid rgba($black, 0.1); }
.dark-border-bottom { border-bottom: 1px solid rgba($black, 0.1); }
.button-border-bottom { border-bottom: 1px solid rgba($black, 0.125); }
.button-text-shadow { text-shadow: 0 -1px 0 rgba($black, 0.15) }

.dark-outer-box-shadow { box-shadow: 0 0 1px rgba($black, 0.2); }

.larger {
  font-size: 1.25rem;
}

.smaller {
  font-size: rem-calc(18);
}

.button.icon {
  border-radius: 50%;
  padding: 0.5rem;

  i {
    width: 1rem;
    height: 1rem;
    line-height: 1;
    font-size: 1rem;
    margin: 0;
  }
}

.button.icon-on-medium-down {
  @include breakpoint(medium down) {
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: inset 0 -1px 0 rgba($black, 0.15);

    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

    &:hover, &:active {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    i {
      width: 16px;
      height: 16px;
      line-height: 1;
      font-size: 16px;
      margin: 0;
      display: block;
    }
  }
}
