.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-1 { flex: 1; }

.flex-1-on-large {
  @include breakpoint(large up) { flex: 1; }
}

.font-1 {
  font-size: 1rem;
  line-height: 1;
}

.hover-pointer:hover { cursor: pointer; }
.hover-opacity:hover { opacity: 0.5; }

.text-center-on-medium-down {
  @include breakpoint(medium down) { text-align: center; }
}

.inline-block-on-large {
  @include breakpoint(large up) { display: block; }
}

.block-on-medium-down { @include breakpoint(large up) { display: inline-block; } }

.hide-on-large {
  @include breakpoint(large up) { display: none; }
}

.inactive-link {
  @include anchor($medium-gray, $dark-gray);
}

.active-link {
  @include anchor($black, $black);
}

.white-link {
  @include anchor($white, $white);
}

.secondary-link {
  @include anchor($secondary-color, $white);
}

.light-gray-link {
  @include anchor($light-medium-gray, $medium-gray);
}

.medium-gray-link {
  @include anchor($medium-gray, $dark-gray);
}

.medium-gray-link.alt {
  @include anchor($medium-gray, $primary-color);
}

.border-link {
  @include hover { border-bottom: 1px dotted $white; }
}

.hover-white { @include hover { color: $white; } }

.nowrap { white-space: nowrap; }
.big-heading { font-size: 2rem; }

.white { color: $white; }
.light-gray { color: $light-gray; }
.light-medium-gray { color: $light-medium-gray; }
.medium-gray { color: $medium-gray; }
.dark-medium-gray { color: $dark-medium-gray; }
.dark-gray { color: $dark-gray; }
.body-font-color { color: $body-font-color; }
.black { color: $black; }

.primary-color { color: $primary-color; }
.secondary-color { color: $secondary-color; }
.success-color { color: $success-color; }
.warning-color { color: $warning-color; }
.alert-color { color: $alert-color; }

.primary-background { background: $primary-color; }
.secondary-background { background: $secondary-color; }
.success-background { background: $success-color; }
.warning-background { background: $warning-color; }
.alert-background { background: $alert-color; }

.light-gray-background { background: $light-gray; }
.light-medium-gray-background { background: $light-medium-gray; }
.medium-gray-background { background: $medium-gray; }
.dark-medium-gray-background { background: $dark-medium-gray; }
.dark-gray-background { background: $dark-gray; }
.black-background { background: $base-black; }

.absolute { position: absolute; width: 100%; top: 0; height: 100%; z-index: 9999; }
.relative { position: relative; }

.normal { font-weight: $global-weight-normal; }
.strong { font-weight: $global-weight-bold; }

.normal-transform { text-transform: none; }
.normal-style { font-style: normal; }

.rounded { border-radius: 100%; }

.form-errors {
  background: $primary-color;
  box-shadow: inset 0 0 1px rgba($black, 0.2);
}

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.small-block {
  @include breakpoint(small only) {
    display: block;
  }
}

.medium-block {
  @include breakpoint(medium up) {
    display: block;
  }
}

.light-border-top { border-top: 1px solid rgba($white, 0.2); }
.light-border-bottom { border-bottom: 1px solid rgba($white, 0.2); }
.dark-border-top { border-top: 1px solid rgba($black, 0.2); }
.dark-border-bottom { border-bottom: 1px solid rgba($black, 0.2); }
