// specificity is required to override trix's own CSS
body {
  .trix-content, .trix-editor {
    h2, blockquote, ul, ol { margin-bottom: 0rem; }
    h2 { font-weight: $global-weight-bold; }
    blockquote {
      margin: 0;
      padding: rem-calc(9 20 9 19);
      border-left: 3px solid $light-gray;
    }
  }

  trix-toolbar .trix-button { background: $white; }
}

trix-editor, .trix-editor {
  background: $white;
  max-height: 400px;
  overflow-y: auto;
}


.trix-button--icon-strike,
.trix-button--icon-code,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-decrease-nesting-level { display: none; }
