.field {
  padding-top: rem-calc(8);
  margin-bottom: rem-calc(40);

  &.npt { padding-top: 0; }
  &.nmb { margin-bottom: 0; }
}

.field.field_with_errors {
  margin-bottom: 0;

  input, textarea {
    @include form-focus {
      border-color: lighten($secondary-color, 10%) !important;
      background: lighten($secondary-color, 20%) !important;
    }

    &::placeholder { color: $body-font-color !important; }
  }
}

.error-message {
  color: $secondary-color;
  font-weight: $global-weight-bold;
  line-height: 1.5;
  font-size: rem-calc(16);
  margin-bottom: rem-calc(8);
}
