.field {
  padding-top: 0.5rem;
  margin-bottom: 2.5rem;

  &.nmb { margin-bottom: 0; }
}

.field.field_with_errors {
  margin-bottom: 0;

  input, textarea {
    @include form-focus {
      border-color: lighten($alert-color, 10%) !important;
      background: lighten($alert-color, 20%) !important;
    }

    &::placeholder { color: $body-font-color !important; }
  }
}

.error-message {
  color: $alert-color;
  font-weight: $global-weight-normal;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
