---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10",
                       "short_name" : "10",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Newton Place",
                       "short_name" : "Newton Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Glasgow",
                       "short_name" : "Glasgow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Glasgow City",
                       "short_name" : "Glasgow City",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Scotland",
                       "short_name" : "Scotland",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "G3 7PR",
                       "short_name" : "G3 7PR",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "10 Newton Pl, Glasgow G3 7PR, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.8665234,
                          "lng" : -4.2747461
                       },
                       "southwest" : {
                          "lat" : 55.8663918,
                          "lng" : -4.2749146
                       }
                    },
                    "location" : {
                       "lat" : 55.8664365,
                       "lng" : -4.2748123
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.86780658029149,
                          "lng" : -4.273481369708498
                       },
                       "southwest" : {
                          "lat" : 55.86510861970849,
                          "lng" : -4.276179330291502
                       }
                    }
                 },
                 "place_id" : "ChIJ_X9V4itEiEgRw-ZQtnhOOBg",
                 "types" : [ "premise" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 25 Oct 2018 23:07:59 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20aaaaaaaaaaa&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
       [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20a&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
 [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20abc&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20ab123%201aa&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
       [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20g1%201aa&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20g11aa&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
             [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20g3%207pr&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20g37pr&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
             [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20g52%202qw&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
         [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=10%20Newton%20Place,%20Glasgow,%20g522qw&key=AIzaSyAt1zNd8L4eSXHVUJ246_8QzPROvPiA8Ck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
            [...]
