---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,%20Glasgow,%20G3%207PR&key=<KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "G3 7PR",
                       "short_name" : "G3 7PR",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Newton Place",
                       "short_name" : "Newton Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Glasgow",
                       "short_name" : "Glasgow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Glasgow City",
                       "short_name" : "Glasgow City",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Scotland",
                       "short_name" : "Scotland",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Newton Pl, Glasgow G3 7PR, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.8667345,
                          "lng" : -4.274388699999999
                       },
                       "southwest" : {
                          "lat" : 55.8661258,
                          "lng" : -4.2755455
                       }
                    },
                    "location" : {
                       "lat" : 55.8664715,
                       "lng" : -4.2750229
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.8677791302915,
                          "lng" : -4.273618119708497
                       },
                       "southwest" : {
                          "lat" : 55.8650811697085,
                          "lng" : -4.276316080291502
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJFVOW5CtEiEgRAogrwPcti2U",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 26 Oct 2018 16:44:35 GMT
recorded_with: VCR 4.0.0
