- if target.errors.any?
  .callout.alert.form-errors.lpa.lmb
    %p.black.strong
      = "#{error_count_for target} prohibited this record from being saved:"

    %ul.nmb.black
      - target.errors.full_messages.each do |msg|
        %li
          %span.black= msg
