- if target.errors.any?
  %section#form--error-notifications
    %h1#form--error-notifications-title
      = "The form contains #{error_count_for target}:"

    %ul#form--error-notifications-list
      - target.errors.full_messages.each do |msg|
        %li.form--error-notifications-item= msg
