%fieldset.fieldset.callout.success.dark-border-bottom.lmb
  = render 'application/forms/errors', target: f.object
  = render 'application/forms/body', f: f
  = render 'application/forms/page_photo', f: f
