%h1.page-title
  Thankyou
  %small for your message

%p.callout.success.lmb
  I will get back to you as soon as I can, usually within 24 hours.
  %br
  %br
  If you require my help sooner, then
  you can always try calling me on
  = succeed '.' do
    %span.strong= @settings.telephone
