- provide :page_title, t('seo.title.contact.new')
- provide :meta_description, t('seo.meta_description.contact')
- provide :canonical_url, contact_url(protocol: 'https')

= render 'contact/partials/form'
