.row.column.lpt.lmt
  %figure.text-center
    = image_tag 'about/mindful-life-therapy-vertical-logo.png', title: t('colophon.image.caption'), alt: t('colophon.image.caption'), class: 'colophon-img'

    %figcaption.about-caption.dark-gray.lmb
      %strong.block.smb.show-for-sr Mindful Life Therapy

      %span.block Counselling, Psychotherapy &
      %span.block Mindfulness Training in Glasgow

    = link_to 'Contact', contact_path, class: 'button smt strong'
