- flash.each do |key, value|
  .flash.primary-background.button-text-shadow.border-bottom.mpt.smaller.mpb{ data: { controller: 'flash', target: 'flash.message' }}
    .row.column.flash-message.flex
      .flex-item.strong.lpr.mpl.flex-1.white
        .table
          .table-row
            .table-cell= icon 'fas', 'bolt', class: 'smr fixed-width-icon'
            .table-cell= value

      .flex-item
        = icon 'fas', 'window-close', class: 'close-flash nmr hover-pointer hover-white', data: { action: 'click->flash#close' }
