- if flash.any?
  - user_facing_flashes.each do |key, value|
    .flash.primary-background.mpt.mpb
      .row.column
        .flash-message.flex.relative
          %span.strong.flex-1= value
          = fa_icon 'window-close', class: 'close-flash nmr hover-pointer hover-white'
