-# .row.column
-#   %nav#nav-bar.flex
-#     = render 'application/nav_bar/radios'
-#
-#     = link_to root_path, id: 'nav-bar-logo' do
-#       = image_tag "header/logo.svg", secure: true
-#
-#     = render 'application/nav_bar/buttons'
-#     = render 'application/nav_bar/main'
-#     = render 'application/nav_bar/admin'
