%h2.h4.mmb Location
%p.nmb
  %strong The office address is:
%p.mmb= footer_office_address(@settings)
= office_map @settings, 'sidebar--map'
= link_to 'View larger map', map_page_url, class: 'black-link hover-text-decoration'
