- provide :page_title, t('seo.title.mindfulness_page.show')
- provide :meta_description, t('seo.meta_description.mindfulness_page')
- provide :canonical_url, mindfulness_page_url(protocol: 'https')


.row.column
  %h1.text-center.mpb Mindfulness in Glasgow

.row
  .column.medium-8.medium-offset-2.mplr-on-medium.xplr-on-large
    %figure.text-center.lmb.mplr-on-medium.xplr-on-large
      = photo_for @mindfulness_page

    .lmb.trix-content.mplr-on-medium.xplr-on-large= sanitize @mindfulness_page.body
