- provide :page_title, t('seo.title.map.show')
- provide :meta_description, t('seo.meta_description.map')
- provide :canonical_url, map_page_url(protocol: 'https')

.row
  .column.xpb
    %h1.text-center.smb Office Location
    %p.text-center.lmb= footer_office_address(@settings)
    = office_map @settings, 'map-page--map xmb'

= render 'colophon'
